.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin-left: 0 !important;
  margin-right: 0 !important;
}



body > *:not(.navbar) {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}

.browse-category {
    margin: 40px ;
}

.browse-category h2 {
   font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 2;
}

.category-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.category-buttons button {
    background: #ffffff; 
    border: 1px solid #ccc;
    color: #555;
    padding: 8px 15px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 4px;
    border-radius: 2rem;
    text-decoration: none;
}

.category-buttons button:hover {
    border-color: #555;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
}

.category-buttons .active {
    background-color: #333; 
    color: white; 
    border-color: #333;
    font-weight: 100000;
}

.category-buttons .active:hover {
    background-color: #555;
    border-color: #555;
    box-shadow: none;
}

@media (max-width: 768px) {
    .browse-category {
        padding: 0 20px;
        margin: 30px auto;
    }
}
#root {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.navbar {
  width: 100% !important;
  margin: 0 !important;
  left: 0 !important;
  margin-bottom: 50px !important;
}

body > *:not(.navbar):not(footer) {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}
