#root > *:not(.navbar):not(.app-footer) {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.app-footer {
    width: 100%;
    margin: 0; 
}
.text-uppercase ,.list-unstyled {

    margin-left: 20%;
}
.text-uppercase{

    color: #c99105;
}