.hero-container {
  background-image: url("./../../public/ChatGPT\ Image\ Dec\ 2\,\ 2025\,\ 04_30_12\ PM.png"); /* isko baad mein change kar lena */
  background-size: 100%;       
  background-repeat: no-repeat;
  min-height: 80vh;
  width: 100%;
  position: relative;
  justify-content: flex-start;
  padding-bottom: 100px;
  background-position: center calc(45% - 0px); 
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

body{
  margin-left: 30px;
  margin-right: 30px;
  width: 100%;
}

body > *:not(.navbar):not(footer) {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.hero-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(19, 21, 21, 0.377);
  background-size: 97%;     
  width: 100%;
}

.hero-container > div {
  position: relative;
  z-index: 2;
  max-width: 680px; 
  color: white;
}
.ViewBtn{

  color: #080808;
  padding: 5px;
  margin: 3px;
  text-align: center;
  background-color: #b8860a;
border-radius: 0.2rem;
border: 1px solid black;
font-weight: bolder ;

}
