.button-Navbar{
  padding: 10px;
  background-color: #b8860a;
  font-weight: 4000;
  margin: 2px;
  border-radius: 1rem;
  border: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

body{
  margin-left: 30px;
  margin-right: 30px;
  width: 100%;
}

body > *:not(.navbar):not(footer) {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}
#root {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.navbar {
  width: 100% !important;
  margin: 0 !important;
  left: 0 !important;
}

.Loginbtn{
  color: #080808;
  padding: 10px;
  margin: 2px;
  text-align: center;
  background-color: #b8860a;
border-radius: 0.2rem;
border: 1px solid black;
font-weight: bolder ;

}